---
layout: default
---

{% if site.github %}
    {% assign appname = site.github.owner_name %}
    {% assign appurl = site.github.repository_url %}
{% else %}
    {% assign appname = page.appname %}
    {% assign appurl = "https://github.com/{{ page.appname }}/App" %}
{% endif %}

{% assign apptoken = appname | slugify %}
{% assign apptitle = appname | replace: "-", " " %}

<div class="post-content">
    {{ content }}
</div>


{% if appname != "App-Fair" %}
<p>
This app can be installed and run on macOS using <a href="https://appfair.app/fair?app={{ appname }}">App Fair.app</a>
</p>
{% endif %}

<p>

<!-- render the platform screenshots -->


{% assign assetnames = site.github.latest_release.assets | map: 'name' | uniq %}

{% assign platforms = 'mac,ios' | split: ',' %}

{% assign maczip = appname | append: '-macOS.zip' %}
{% assign iosipa = appname | append: '-iOS.ipa' %}

{% for platform in platforms %}

{% assign platdash = '-' | append: platform | append: '-' %}

{% for asset in site.static_files %}

{% if asset.path contains 'screenshots/screenshot' and asset.extname == '.png' and asset.path contains platdash %}

{% assign dim = asset.name | split: "-" | last | split: "." | first | split: "@" | first %}
{% assign width = dim | split: "x" | first %}
{% assign height = dim | split: "x" | last %}

<div>
{% if false and width != "" and height != "" %}
<!-- disabled for now; div height does not shrink -->
<a href="{{ asset.browser_download_url }}"><img width="{{ width }}" height="{{ height }}" style="max-width: 100%; object-position: top; object-fit: scale-down;" alt="{{ apptitle }} screen shot" src="{{ asset.browser_download_url }}" /></a>
{% else %}
<a href="screenshots/{{ asset.name }}"><img alt="{{ apptitle }} screen shot" src="screenshots/{{ asset.name }}" /></a>
{% endif %}

</div>
{% endif %}

{% endfor %} 

{% endfor %} 


<!--
{% assign appversion = site.github.latest_release.tag_name %}

<h3>Release {{ appversion }} assets:</h3>

<ul>
{% for asset in site.github.latest_release.assets %}
<li><a href="{{ asset.browser_download_url }}">{{ asset.name }} ({{ asset.size }})</a></li>
{% else %}
  This app does not yet have any releases.
{% endfor %}
</ul>

<p>This page was last updated at {{ "now" | date: "%Y-%m-%d %H:%M" }}.</p>

-->

<h2>{{ apptitle }} Links:</h2>

<ul>
    <li><a href="{{ appurl }}/discussions">Discussions</a></li>
    <li><a href="{{ appurl }}/issues">Issues</a></li>
    <li><a href="{{ appurl }}.git">Source Code</a></li>
    <li><a href="{% github_edit_link %}">Improve this page</a></li>
</ul>

