---
layout: default
---

{% assign appname = site.github.owner_name %}
{% assign apptoken = appname | slugify %}
{% assign apptitle = appname | replace: "-", " " %}
{% assign appversion = site.github.latest_release.tag_name %}

<p>
<h2><img width="45" height="45" src="{{ site.github.repository_url }}/releases/latest/download/{{ appname }}.png" />{{ apptitle }}</h2>
</p>


<div class="post-content">
    {{ content }}
</div>


<h2>{{ apptitle }} Support:</h2>

<ul>
    <li><a href="{{ site.github.repository_url }}/discussions">Discussions</a></li>
    <li><a href="{{ site.github.repository_url }}/issues">Issues</a></li>
</ul>


<h2>Installation</h2>

There are a few diffent ways to install {{ apptitle }}.

<h3>Installation:</h3>

<p>
Install <a href="https://www.appfair.net">App Fair.app</a> and launch: <a href="appfair://app/{{ appname }}">appfair://app/{{ appname }}</a>.
</p>

<h3>Installation with Homebrew:</h3>

<p>
Install Homebrew from <a href="https://brew.sh">brew.sh</a> and then run:
</p>
<p>
<pre><code>brew install appfair/app/{{ apptoken }}</code></pre>
</p>

<h3>Direct Download:</h3>

<p>
<a href="{{ site.github.repository_url }}/releases/latest/download/{{ site.github.owner_name }}-macOS.zip">{{ site.github.repository_url }}/releases/latest/download/{{ site.github.owner_name }}-macOS.zip</a>
</p>

<!-- render the platform screenshots -->

{% assign assetnames = site.github.latest_release.assets | map: 'name' | uniq %}

{% assign platforms = 'mac,ios' | split: ',' %}

{% assign maczip = appname | append: '-macOS.zip' %}
{% assign macrelease = assetnames contains maczip %}
{% assign iosipa = appname | append: '-iOS.ipa' %}
{% assign iosrelease = assetnames contains iosipa %}

{% for platform in platforms %}

<h2>Platform: {{ platform }}</h2>

<ul>
{% for asset in site.github.latest_release.assets %}

{% if platform == 'mac' and asset.name == maczip %}
    <li><a href="{{ asset.browser_download_url }}">{{ asset.name }} ({{ asset.size }})</a></li>
{% endif %}

{% if platform == 'ios' and asset.name == iosipa %}
    <li><a href="{{ asset.browser_download_url }}">{{ asset.name }} ({{ asset.size }})</a> (<a href="altstore://install?url={{ asset.browser_download_url }}">sideload</a>)</li>
{% endif %}

{% endfor %} <!-- asset -->

</ul>

<!-- screenshots follow assets -->
{% for asset in site.github.latest_release.assets %}
{% assign screenpre = "screenshot-" | append: platform %}
{% if asset.name contains screenpre %}
<p>
<img src="{{ asset.browser_download_url }}" />
</p>
{% endif %}

{% endfor %} <!-- asset -->

{% endfor %} <!-- platforms -->


<h3>Release {{ appversion }} assets:</h3>

<ul>
{% for asset in site.github.latest_release.assets %}
<li><a href="{{ asset.browser_download_url }}">{{ asset.name }} ({{ asset.size }})</a></li>
{% else %}
  This app does not yet have any releases.
{% endfor %}
</ul>



<p>This page was last updated at {{ "now" | date: "%Y-%m-%d %H:%M" }}.</p>


