---
layout: default
---

{% assign appname = site.github.owner_name %}
{% assign apptoken = appname | slugify %}
{% assign apptitle = appname | replace: "-", " " %}
{% assign appversion = site.github.latest_release.tag_name %}

<p>
<h2><img width="45" height="45" src="{{ site.github.repository_url }}/releases/latest/download/{{ appname }}.png" />{{ apptitle }}</h2>
</p>


<div class="post-content">
    {{ content }}
</div>


<h2>{{ apptitle }} Support:</h2>

<ul>
    <li><a href="{{ site.github.repository_url }}/discussions">Discussions</a></li>
    <li><a href="{{ site.github.repository_url }}/issues">Issues</a></li>
    <li><a href="{{ site.github.repository_url }}/releases">Releases</a></li>
</ul>


<h2>Installation</h2>

<p>
To install and update this app, open it with the <a href="https://app-fair.app/fair#app/{{ appname }}">App Fair</a> app.
</p>

<p>

<!-- render the platform screenshots -->


{% assign assetnames = site.github.latest_release.assets | map: 'name' | uniq %}

{% assign platforms = 'mac,ios' | split: ',' %}

{% assign maczip = appname | append: '-macOS.zip' %}
{% assign macrelease = assetnames contains maczip %}
{% assign iosipa = appname | append: '-iOS.ipa' %}
{% assign iosrelease = assetnames contains iosipa %}

{% for platform in platforms %}

<!--

<h2>Platform: {{ platform }}</h2>

<ul>
{% for asset in site.github.latest_release.assets %}

{% if platform == 'mac' and asset.name == maczip %}
    <li><a href="{{ asset.browser_download_url }}">{{ asset.name }} ({{ asset.size }})</a></li>
{% endif %}

{% if platform == 'ios' and asset.name == iosipa %}
    <li><a href="{{ asset.browser_download_url }}">{{ asset.name }} ({{ asset.size }})</a> (<a href="altstore://install?url={{ asset.browser_download_url }}">sideload</a>)</li>
{% endif %}

{% endfor %} 

</ul>

-->


{% for asset in site.github.latest_release.assets %}
{% if asset.name contains "screenshot-" and asset.name contains ("-" + platform + "-") %}
<p>
<img src="{{ asset.browser_download_url }}" />
</p>
{% endif %}

{% endfor %} 

{% endfor %} 


<!--
<h3>Release {{ appversion }} assets:</h3>

<ul>
{% for asset in site.github.latest_release.assets %}
<li><a href="{{ asset.browser_download_url }}">{{ asset.name }} ({{ asset.size }})</a></li>
{% else %}
  This app does not yet have any releases.
{% endfor %}
</ul>

<p>This page was last updated at {{ "now" | date: "%Y-%m-%d %H:%M" }}.</p>

-->

